*{
    margin: 0;
    padding: 0;
}
body{
    background: #355C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}    
nav{
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    background-color:  white;
    opacity: 90%;
}
.logo{
    display: flex;
}
.logo img{
    width: 100px;
}
.pages ul{
    display: flex;
    justify-content: space-around;
}
.pages ul li{
    list-style: none;
    margin-top: 13px;
    margin-right: 50px;
}
.pages ul li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.h,.pages ul li:hover{
    transform: scale(1.05);
    border-bottom: solid #C06C84 ;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 8%;
}
.links{
    display: flex;
    flex-wrap: wrap;
    width: 540px;
}
.links a{
    margin-right: 140px;
    margin-bottom: 20px;
}
.links a:hover{
    transform: scale(1.05);
}
.links img{
    width: 130px;
}
.map iframe{
    border-radius: 15px;
    
}
@media screen and (max-width:414px) and (max-height: 869px) {
    body{
       background: #C06C84;
    }
    nav{
        display: block;
        width: 1235px;
        background-color: white;
    }
     .logo img{
            width: 350px;
            margin-left: 26%;
    }
    nav .pages ul{
        display: block;
        text-align: center;
       
    }
    nav .pages ul li {
        margin-bottom: 60px;
    }
    nav .pages ul li a{
        font-size: 60px;
    }
    .container{
        display: block;
    }
    .links{
        margin-top: 50%;
        margin-left: 70%;
        width:800px;
    }
    .links a img{
        width: 250px;
    }
    .map{
        margin-left: 60%;
        margin-top: 50%;
    }
    .map iframe{
        width: 730px;
        height: 720px;
    }
}